* {
  outline: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab {
  width: 70px;
  margin: 5px;
  padding: 5px;
}
.currentTab {
  background-color: darkslategray;
}
